---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Oleg-Sergeyev/ruby-tests/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"76cc8b4904b8e9f4ade6ed5ec0e05ce0c5d3ba5743c037f652fc1030c60ac075"
      last-modified:
      - Sun, 22 May 2022 18:30:57 GMT
      x-github-media-type:
      - github.v3; format=json
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '51'
      x-ratelimit-reset:
      - '1653247562'
      x-ratelimit-resource:
      - core
      x-ratelimit-used:
      - '9'
    body:
      encoding: UTF-8
      string: '[{"sha":"391e7033aa1d169351a9cacfbb007c4ae06359a3","node_id":"C_kwDOHTXpVdoAKDM5MWU3MDMzYWExZDE2OTM1MWE5Y2FjZmJiMDA3YzRhZTA2MzU5YTM","commit":{"author":{"name":"oleg","email":"sergeyev_ov@mail.ru","date":"2022-05-22T18:30:57Z"},"committer":{"name":"oleg","email":"sergeyev_ov@mail.ru","date":"2022-05-22T18:30:57Z"},"message":"Домашнее
        задание к уроку №5, 1,2 задание. 2 задание - реализация через VCR","tree":{"sha":"30f4c72b4277e873e7f76b4c3639bec40397f5d6","url":"https://api.github.com/repos/Oleg-Sergeyev/ruby-tests/git/trees/30f4c72b4277e873e7f76b4c3639bec40397f5d6"},"url":"https://api.github.com/repos/Oleg-Sergeyev/ruby-tests/git/commits/391e7033aa1d169351a9cacfbb007c4ae06359a3","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/Oleg-Sergeyev/ruby-tests/commits/391e7033aa1d169351a9cacfbb007c4ae06359a3","html_url":"https://github.com/Oleg-Sergeyev/ruby-tests/commit/391e7033aa1d169351a9cacfbb007c4ae06359a3","comments_url":"https://api.github.com/repos/Oleg-Sergeyev/ruby-tests/commits/391e7033aa1d169351a9cacfbb007c4ae06359a3/comments","author":{"login":"Oleg-Sergeyev","id":85123035,"node_id":"MDQ6VXNlcjg1MTIzMDM1","avatar_url":"https://avatars.githubusercontent.com/u/85123035?v=4","gravatar_id":"","url":"https://api.github.com/users/Oleg-Sergeyev","html_url":"https://github.com/Oleg-Sergeyev","followers_url":"https://api.github.com/users/Oleg-Sergeyev/followers","following_url":"https://api.github.com/users/Oleg-Sergeyev/following{/other_user}","gists_url":"https://api.github.com/users/Oleg-Sergeyev/gists{/gist_id}","starred_url":"https://api.github.com/users/Oleg-Sergeyev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Oleg-Sergeyev/subscriptions","organizations_url":"https://api.github.com/users/Oleg-Sergeyev/orgs","repos_url":"https://api.github.com/users/Oleg-Sergeyev/repos","events_url":"https://api.github.com/users/Oleg-Sergeyev/events{/privacy}","received_events_url":"https://api.github.com/users/Oleg-Sergeyev/received_events","type":"User","site_admin":false},"committer":{"login":"Oleg-Sergeyev","id":85123035,"node_id":"MDQ6VXNlcjg1MTIzMDM1","avatar_url":"https://avatars.githubusercontent.com/u/85123035?v=4","gravatar_id":"","url":"https://api.github.com/users/Oleg-Sergeyev","html_url":"https://github.com/Oleg-Sergeyev","followers_url":"https://api.github.com/users/Oleg-Sergeyev/followers","following_url":"https://api.github.com/users/Oleg-Sergeyev/following{/other_user}","gists_url":"https://api.github.com/users/Oleg-Sergeyev/gists{/gist_id}","starred_url":"https://api.github.com/users/Oleg-Sergeyev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Oleg-Sergeyev/subscriptions","organizations_url":"https://api.github.com/users/Oleg-Sergeyev/orgs","repos_url":"https://api.github.com/users/Oleg-Sergeyev/repos","events_url":"https://api.github.com/users/Oleg-Sergeyev/events{/privacy}","received_events_url":"https://api.github.com/users/Oleg-Sergeyev/received_events","type":"User","site_admin":false},"parents":[{"sha":"40b031db986763746ebddaf64ff8368cb23a25ab","url":"https://api.github.com/repos/Oleg-Sergeyev/ruby-tests/commits/40b031db986763746ebddaf64ff8368cb23a25ab","html_url":"https://github.com/Oleg-Sergeyev/ruby-tests/commit/40b031db986763746ebddaf64ff8368cb23a25ab"}]},{"sha":"40b031db986763746ebddaf64ff8368cb23a25ab","node_id":"C_kwDOHTXpVdoAKDQwYjAzMWRiOTg2NzYzNzQ2ZWJkZGFmNjRmZjgzNjhjYjIzYTI1YWI","commit":{"author":{"name":"Oleg
        Sergeyev","email":"sergeyev_ov@mail.ru","date":"2022-05-2[...]
